.upload-profile-image-wrapper {
  width: 100%;
  background-color: hsl(0, 0%, 70%);
  border: 1px solid hsl(0, 0%, 70%);
  border-radius: 4px;
  text-align: center;
  margin-top: 10px;
}
.upload-profile-image-form {
  width: 100%;
  /* background-color: hsl(180, 100%, 50%); */
  position: relative;
}
.upload-profile-bar-loader-wrapper {
  margin-top: 2px;
  color: hsl(120, 80%, 30%);
  border: 1px solid hsl(120, 30%, 60%);
  border-radius: 4px;
  background-color: hsl(120, 80%, 95%);
  text-align: center;
  padding: 0.6em 2em;
  margin: 0em 1em;
}
.upload-profile-bar-loader-wrapper p {
  color: hsl(180, 100%, 30%);
  margin-top: 0em;
  margin-bottom: 0em;
}
.upload-profile-image-msg {
  color: hsl(120, 80%, 30%);
  border: 1px solid hsl(120, 30%, 60%);
  border-radius: 4px;
  background-color: hsl(120, 80%, 95%);
  text-align: center;
  padding: 0.8em 0em;
  margin: 0em 1em;
}
.upload-profile-image-catch-error {
  background-color: hsl(0, 100%, 95%);
  border: 1px solid hsl(0, 100%, 85%);
  border-radius: 3px;
  text-align: center;
  color: hsl(0, 100%, 50%);
  padding: 1em 0.5em;
  margin: 0em 1em;
}
.upload-profile-image-form h4 {
  color: hsl(180, 100%, 20%);
}
.image-validation-alert-msg {
  text-align: center;
  background-color: hsl(0, 100%, 95%);
  border: 1px solid hsl(0, 100%, 80%);
  border-radius: 3px;
  color: hsl(0, 100%, 70%);
  padding: 0.8em 0.1em;
  margin: 0em 0.5em;
}
.choose-image-file-field {
  text-align: center;
  color: hsl(0, 0%, 100%);
  background-color: hsl(0, 0%, 40%);
  /* border: 1px solid hsl(180, 100%, 30%); */
  border-radius: 2px;
  box-shadow: 1px 1px 1.5px hsl(180, 100%, 25%), -1px -1p;
  align-self: center;
}

.upload-btn {
  color: hsl(0, 0%, 100%);
  background-color: hsl(180, 100%, 30%);
  border: 1px solid hsl(180, 100%, 30%);
  border-radius: 2px;
  box-shadow: 1px 1px 1.5px hsl(180, 100%, 25%),
    -1px -1px 1.5px hsl(180, 100%, 25%);
  margin-top: 10px;
  margin-left: 2px;
}
.upload-btn:hover {
  background-color: hsl(180, 100%, 40%);
  border: 1px solid hsl(180, 100%, 40%);
  border-radius: 2px;
  box-shadow: 1px 1px 3px hsl(180, 100%, 25%), -1px -1px 3px hsl(180, 100%, 40%);
  margin-top: 10px;
  transition: 0.35s;
}

@media screen and (max-width: 600px) {
  .upload-profile-image-form {
    display: flex;
    flex-direction: column;
    align-content: center;
  }
}
