.user-profile-wrapper {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
  max-height: auto;
  width: 100%;
  align-items: center;
  background-color: hsl(197.4, 71.4%, 95%);
}
@media screen and (max-width: 1000px) {
  .user-profile-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* margin-bottom: 3em; */
  }
}
.user-profile-info-wrapper {
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 90%);
  padding: 0.2em;
  border-radius: 3px;
  margin-top: 5em;
}
@media screen and (max-width: 1000px) {
  .user-profile-info-wrapper {
    width: 30%;
  }
}
@media screen and (max-width: 800px) {
  .user-profile-info-wrapper {
    width: 40%;
  }
}
@media screen and (max-width: 540px) {
  .user-profile-info-wrapper {
    width: 60%;
  }
}
.user-name-and-image {
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 4px;
}
.user-name {
  text-align: center;
  color: hsl(0, 0%, 0%);
  margin-top: 0.5em;
  font-size: larger;
}
.profile-verification-status {
  display: grid;
  place-items: center;
}
.user-image {
  display: grid;
  place-items: center;
}
.default-profile-image {
  position: relative;
  margin-top: 0.2em;
  margin-bottom: 0.1em;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: grid;
  place-items: center;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 110px;
  background-color: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: -15%;
  left: 120%;
  z-index: 1;
}

/* Show the tooltip text when you hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.verified-user,
.not-verified-user {
  display: flex;
  flex-direction: row;
  width: 50%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
  background-color: hsl(0, 0%, 60%);
  border: 1px solid hsl(0, 0%, 60%);
  border-radius: 4px;
}

.verification-status {
  padding: 0.5em 0.2em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: hsl(0, 0%, 0%);
}
.user-role-and-email-wrapper {
  padding: 0.5em;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 4px;
  margin-top: 0.2em;
}
.user-email-label,
.user-role-label {
  color: hsl(0, 0%, 60%);
}

.edit-profile-button-wrapper {
  padding: 0.5em;
  text-align: center;
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 4px;
  margin-top: 0.2em;
}
.edit-user-info-wrapper {
  width: 31%;
  /* background-color: blueviolet; To be removed */
}

@media screen and (max-width: 800px) {
  .edit-user-info-wrapper {
    width: 41%;
  }
}
@media screen and (max-width: 540px) {
  .edit-user-info-wrapper {
    width: 61%;
  }
}
