.user-profile-wrapper {
  margin-top: 10px;
  display: grid;
  place-items: center;
  width: 100%;
  align-items: center;
}

.btn-showing-profile {
  background-color: hsl(0, 0%, 99%);
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 4px;
  box-shadow: 1px 1px 2px hsl(0, 0%, 80%), -1px -1px 2px hsl(0, 0%, 80%);
  padding: 5px 0px 5px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  outline: none;
}
.btn-showing-profile:hover,
.btn-showing-profile:focus {
  background-color: hsl(0, 0%, 95%);
  box-shadow: 1px 1px 2px hsl(0, 0%, 80%), -1px -1px 3px hsl(0, 0%, 80%);
  transition: 0.3s;
}
.user-info {
  background-color: hsl(0, 0%, 98%);
  border: 1px solid hsl(0, 0%, 98%);
  border-radius: 5px;
  box-shadow: 1px 1px 2px hsl(0, 0%, 80%), -1px -1px 2px hsl(0, 0%, 80%);
  width: 60%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.default-profile-image {
  position: relative;
  top: 5px;
  left: 35%;
}
/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  top: 5px;
  left: 35%;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 110px;
  background-color: hsl(0, 0%, 30%);
  color: hsl(0, 0%, 100%);
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  top: -15%;
  left: 120%;
  z-index: 1;
}

/* Show the tooltip text when you hover */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.user-profile-image-wrapper {
  margin-top: 5px;
  width: 100%;
  display: grid;
  place-items: center;
}

.user-profile-image {
  width: 80px;
  height: 80px;
  border-radius: 40px;
}

.profile-verification-status {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.verified-user,
.not-verified-user {
  display: "flex";
  align-items: center;
  margin-left: 10px;
}
/* MEDIA QUERIES */
@media screen and (max-width: 400px) {
  .btn-showing-profile,
  .user-info {
    width: 90%;
  }
}

@media screen and (min-width: 401px) and (max-width: 540px) {
  .btn-showing-profile,
  .user-info {
    width: 80%;
  }
}

@media screen and (min-width: 541px) and (max-width: 800px) {
  .btn-showing-profile,
  .user-info {
    width: 60%;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .btn-showing-profile,
  .user-info {
    width: 50%;
  }
}

@media screen and (min-width: 1001px) {
  .btn-showing-profile,
  .user-info {
    width: 40%;
  }
}
