.logged-in-as-wrapper {
  /* background-color: hsl(240, 100%, 70%); */
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  margin-right: 5em;
}
.logged-in-user-image {
  --height-width-size: 35px;
  border: 3px solid hsl(0, 0%, 100%);
  width: var(--height-width-size);
  height: var(--height-width-size);
  border-radius: 50%;
}
.logged-in-Person-circle {
  margin-right: 0.6em;
}
.logged-in-username {
  color: hsl(0, 0%, 98%);
}
.chevron-down-logout-wrapper {
  position: relative;
}
.chevron-down {
  margin-left: 0.6em;
}
.logged-in-logout-wrapper {
  position: absolute;
  right: -2.5em;
  top: 110%;
}
