/* THE AddTodos COMPONENT */
.add-todos-wrapper {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.add-todo-form {
  /* width: 58%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(0, 0%, 99%);
  border: hsl(0, 0%, 99%);
  border-radius: 5px;
  box-shadow: 1px 1px 2px hsl(0, 0%, 80%), -1px -1px 2px hsl(0, 0%, 85%);
  padding: 10px;
}
.todo-form-heading {
  background-color: var(--steelblue);
  border: 1px solid var(--steelblue);
  border-radius: 5px;
  padding: 6px 0px 6px 0px;
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  color: hsl(0, 0%, 100%);
}
.todo-added-successfully {
  text-align: center;
  color: hsl(120, 80%, 30%);
  border: 1px solid hsl(120, 30%, 60%);
  border-radius: 4px;
  background-color: hsl(120, 80%, 95%);
  width: 100%;
}
.add-todo-catch-error-msg {
  background-color: hsl(0, 100%, 96%);
  border: 1px solid hsl(0, 100%, 85%);
  border-radius: 4px;
  padding: 10px 0px 10px 0px;
  width: 100%;
  text-align: center;
  color: hsl(0, 100%, 25%);
}
.add-todo-input-field {
  background-color: hsl(207, 44%, 95%);
  border: 1px solid hsl(207, 44%, 85%);
  border-radius: 4px;
  color: hsl(240, 100%, 10%);
  text-align: center;
  width: 99%;
  height: 60px;
  resize: none;
  outline: none;
  margin-bottom: 10px;
}
.add-todo-input-field:focus {
  border: 1px solid hsl(207, 44%, 85%);
  border-radius: 4px;
  box-shadow: 1px 1px 1px hsl(180, 100%, 30%), -1px -1px 1px hsl(180, 100%, 30%);
  transition: 0.35s;
}

.add-todo-btn {
  background-color: hsl(180, 100%, 25%);
  border: 1px solid hsl(180, 100%, 25%);
  box-shadow: 1px 1px 2px 1px hsl(180, 100%, 20%);
  border-radius: 3px;
  color: hsl(240, 100%, 93%);
  width: 100%;
  padding: 8px 0px 8px 0px;
  outline: none;
}
.add-todo-btn:hover {
  color: white;
  background-color: hsl(180, 100%, 40%);
  border: 1px solid hsl(180, 100%, 40%);
  box-shadow: 1px 1px 8px 1px hsl(180, 100%, 20%);
  transition: 0.35s;
}
.add-todo-btn:focus {
  color: white;
  background-color: hsl(180, 100%, 40%);
  border: 1px solid hsl(180, 100%, 40%);
  box-shadow: 1px 1px 8px 1px hsl(180, 100%, 20%);
  transition: 0.35s;
}

/* MEDIA QUERY */
@media screen and (max-width: 400px) {
  .add-todo-form {
    width: 85%;
  }
}
@media screen and (min-width: 401px) and (max-width: 540px) {
  .add-todo-form {
    width: 76%;
  }
}

@media screen and (min-width: 541px) and (max-width: 800px) {
  .add-todo-form {
    width: 58%;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .add-todo-form {
    width: 48%;
  }
}
@media screen and (min-width: 1001px) {
  .add-todo-form {
    width: 38%;
  }
}
