.not-logged-in-wrapper {
  display: relative;
}
.not-logged-in-wrapper {
  text-align: center;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 4px;
  background-color: hsl(0, 0%, 95%);
}
.not-logged-in-heading {
  margin-top: 0px;
  padding: 5px;
  background-color: var(--steelblue);
  border: 1px solid var(--steelblue);
  border-radius: 2px;
  color: hsl(70, 100%, 80%);
}
.not-logged-login-link,
.not-logged-signup-link {
  color: hsl(240, 100%, 50%);
}

.not-logged-in-close-modal {
  position: absolute;
  top: 0px;
  right: 0px;
}
