.footer-wrapper {
  background-color: hsl(207, 44%, 15%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: hsl(0, 0%, 50%);
}
.footer-content {
  text-align: center;
  width: 80%;
  height: auto;
  color: hsl(0, 0%, 100%);
}
.copyright-msg {
  margin-top: 2em;
}
.cryptopile-manager {
  height: auto;
}
.footer-links-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
  margin-left: 3em;
}
.footer-link-with-icon {
  margin-right: 4em;
}

.footer-link {
  text-decoration: none;
  margin-left: 3px;
  color: hsl(0, 0%, 100%);
}

@media screen and (max-width: 600px) {
  .footer-links-wrapper {
    background-color: hsl(0, 0%, 10%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
  }
  .footer-link-with-icon {
    margin: 10px;
  }
}
