.upload-image-wrapper {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-upload-form {
  background-color: hsl(0, 0%, 50%);
  width: auto;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border-radius: 5px;
}
