.not-logged-in-message {
  position: absolute;
  text-align: center;
  /* width: 100%; */
  height: 700px;
  top: 0%;
  left: 0%;
  background-color: hsl(240, 100%, 15%);
  color: hsl(240, 100%, 98%);
}
.links-in-logout-component {
  color: hsl(240, 100%, 75%);
}

/* MEDIA QUERY */
@media screen and (max-width: 540px) {
}
