/* THE SeeTodos HERE */
.see-todos-wrapper {
  position: relative;
  width: 100%;
  min-height: 700px;
  height: auto;
  color: hsl(240, 100%, 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.catch-error-msg {
  width: 40%;
  text-align: center;
  color: hsl(240, 100%, 15%);
  background-color: var(--backgroundColor-1);
  border: 1px solid var(--backgroundColor-1);
  border-radius: 40px;
  box-shadow: 1px 1px 4px 2px hsl(0, 0%, 90%);
  margin-bottom: 10px;
  padding: 5px;
}

.propagate-loader-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px 0px 10px 0px;
  color: hsl(180, 100%, 30%);
  width: 40%;
}

/* TODOS IN THE TABLE */
table {
  color: hsl(240, 100%, 10%);
  background-color: hsl(240, 100%, 100%);
  border: 1px solid hsl(240, 100%, 100%);
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px hsl(0, 0%, 80%), -1px -1px 3px 1px hsl(0, 0%, 80%);
  /* width: 60%; */
  padding: 5px;
  margin-bottom: 60px;
}
th {
  color: hsl(0, 0%, 100%);
  background-color: var(--steelblue-2);
  background-color: var(--steelblue);
  border: 1px solid var(--steelblue-2);
  border: 1px solid var(--steelblue);
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  height: 85px;
  font-weight: 400px;
}

td {
  padding: 5px;
  text-align: center;
  background-color: hsl(240, 100%, 100%);
  border: 1px solid hsl(240, 100%, 98%);
  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px hsl(0, 0%, 70%);
}

/* MEDIA QUERY */
@media screen and (max-width: 400px) {
  table {
    width: 90%;
  }
}

@media screen and (min-width: 401px) and (max-width: 540px) {
  .catch-error-msg {
    width: 60%;
  }
  table {
    width: 80%;
  }
}

@media screen and (min-width: 541px) and (max-width: 800px) {
  table {
    width: 60%;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  table {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  table {
    width: 40%;
  }
}
