/* THE SIGN UP PAGE*/
.signup-page-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  /* height: 100vh; */ /*to be modified later*/
  background-color: hsl(207, 60%, 99%);
  color: hsl(240, 100%, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.signup-header-wrapper {
  background-color: var(--steelblue);
  height: 5%;
  width: 100%;
}
.signup-home-link {
  padding: 25px;
  margin-left: 8%;
}

.bar-loader {
  color: hsl(180, 100%, 30%);
}

.registration-form {
  margin-top: 30px;
  width: 40%;
  padding: 5px;
  color: hsl(240, 100%, 10%);
  background-color: hsl(240, 100%, 100%);
  border: 1px solid hsl(240, 100%, 100%);
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px hsl(0, 0%, 80%);
}
.registration-form-heading {
  margin-top: 0px;
  height: 90px;
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: hsl(180, 100%, 30%);
  background-color: var(--steelblue-2);
  border: 1px solid var(--steelblue-2);
  border-radius: 5px;
}
.signup-input-field-wrapper-1,
.signup-input-field-wrapper-2 {
  position: relative;
  width: 85%;
  margin-left: 10%;
  display: flex;
  align-items: center;
  background-color: hsl(0, 0%, 95%);
  border: 1px solid hsl(207, 44%, 90%);
  border-radius: 5px;
}
.signup-eye-icon {
  position: absolute;
  right: 1%;
  color: hsl(0, 0%, 40%);
}
.signup-input-field-password {
  width: 80%;
  margin-left: 0%;
}
.signup-input-field {
  height: 25px;
  width: 80%;
  margin: 1% 10% 1% 10%;
  padding: 4px;
  color: hsl(240, 100%, 10%);
  background-color: hsl(207, 44%, 95%);
  border: 1px solid hsl(207, 44%, 90%); /*to be added to other components*/
  border-radius: 3px;
}
.signup-input-field:focus {
  outline: none;
  border: 1px solid hsl(180, 100%, 30%);
  box-shadow: 0px 0px 3px hsl(180, 100%, 30%);
}
.signup-btn {
  color: hsl(240, 100%, 90%);
  background-color: hsl(180, 100%, 25%);
  border: 1px solid hsl(180, 100%, 25%);
  box-shadow: 1px 1px 2px 1px hsl(180, 100%, 20%);
  border-radius: 3px;
  width: 50%;
  height: 28px;
  margin: 0% 25% 0% 25%;
  padding: 4px;
  outline: none;
}
.signup-btn:hover,
.signup-btn:focus {
  color: white;
  background-color: hsl(180, 100%, 40%);
  border: 1px solid hsl(180, 100%, 40%);
  box-shadow: 1px 1px 8px 1px hsl(180, 100%, 20%);
  transition: 0.35s;
}
.show-when-successfully-registered {
  text-align: center;
  font-weight: bold;
  color: hsl(120, 100%, 30%);
  background-color: hsl(180, 40%, 100%);
  border: 1px solid hsl(180, 40%, 100%);
  border-radius: 40px;
  box-shadow: 1px 1px 4px 1px hsl(180, 40%, 90%);
  padding: 10px;
  width: 40%;
  margin: 5% 30% 0% 30%;
}
.catch-error {
  margin-top: 10px;
  text-align: center;
  color: hsl(0, 100%, 70%);
  padding: 0px 5px 0px 10px;
}

.email-validity-msg {
  color: hsl(0, 100%, 70%);
  text-align: center;
}
.check-password-match,
.check-password-length {
  color: hsl(0, 100%, 70%);
  text-align: center;
}

/* MEDIA QUERY */
@media screen and (max-width: 540px) {
  .registration-form {
    width: 70%;
  }
  .show-when-successfully-registered {
    width: 70%;
  }
  .bar-loader-component-signup {
    width: 80%;
    padding: 20px 0px 20px 60px;
  }
  .signup-input-field {
    height: 20px;
  }
  .signup-btn {
    width: 83%;
    margin: 1% 10% 1% 10%;
    padding: 4px;
  }
}
