/* THE SIGN UP PAGE*/
.signup-page-wrapper {
  position: relative;
  width: 100%;
  /* height: 1500px; */
  height: auto;
  background-color: hsl(207, 60%, 99%);
  color: hsl(240, 100%, 90%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.signup-header-wrapper {
  background-color: var(--steelblue);
  height: 5%;
  width: 100%;
}
.signup-home-link {
  padding: 25px;
  margin-left: 8%;
}
.registration-form {
  width: 40%;
  /* margin: 3% 30% 0% 30%; */
  padding: 5px;
  color: hsl(240, 100%, 10%);
  background-color: hsl(240, 100%, 100%);
  border: 1px solid hsl(240, 100%, 100%);
  border-radius: 5px;
  box-shadow: 1px 1px 10px 1px hsl(0, 0%, 80%);
}
.registration-form-heading {
  margin-top: 0px;
  height: 90px;
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: hsl(180, 100%, 30%);
  background-color: var(--steelblue-2);
  border: 1px solid var(--steelblue-2);
  border-radius: 5px;
}
.signup-input-field {
  height: 25px;
  width: 80%;
  margin: 1% 10% 1% 10%;
  padding: 4px;
  color: hsl(240, 100%, 10%);
  background-color: hsl(207, 44%, 95%);
  border: 1px solid hsl(207, 44%, 95%);
  border-radius: 3px;
}
.signup-btn {
  color: hsl(240, 100%, 90%);
  background-color: hsl(180, 100%, 25%);
  border: 1px solid hsl(180, 100%, 25%);
  box-shadow: 1px 1px 2px 1px hsl(180, 100%, 20%);
  border-radius: 3px;
  width: 50%;
  height: 30px;
  margin: 0% 25% 0% 25%;
}
.signup-btn:hover {
  color: white;
  background-color: hsl(180, 100%, 40%);
  border: 1px solid hsl(180, 100%, 40%);
  box-shadow: 1px 1px 8px 1px hsl(180, 100%, 20%);
  transition: 0.35s;
}
.display-register-info-wrapper-1 {
  color: white;
  border: 1px solid hsl(240, 100%, 15%);
  border-radius: 10px;
  background-color: hsl(240, 100%, 15%);
  padding: 10px;
  width: 40%;
  margin: 5% 30% 0% 30%;
}
.registration-email,
.registration-password {
  text-decoration: underline;
  color: hsl(120, 100%, 75%);
}
.success-message {
  color: hsl(120, 100%, 75%);
}
.check-email-status-error {
  color: red;
  font-weight: bold;
  text-align: center;
}
.check-password-match {
  color: red;
  text-align: center;
  font-weight: bold;
}

.beat-loader-component-signup {
  width: 40%;
  margin: 1% 30% 1% 30%;
  padding: 20px 0px 20px 120px;
}

/* MEDIA QUERY */
@media screen and (max-width: 540px) {
  .registration-form {
    width: 70%;
    margin: 9% 20% 0% 10%;
  }
  .display-register-info-wrapper-1 {
    width: 70%;
    margin: 20% 20% 0% 10%;
  }
  .beat-loader-component-signup {
    width: 80%;
    margin: 1% 10% 1% 21%;
    padding: 20px 0px 20px 60px;
  }
}
