/* THE LOGOUT COMPONENT */
.logout-wrapper {
  background-color: hsl(0, 0%, 100%);
  color: hsl(0, 0%, 10%);
  color: hsl(0, 100%, 70%);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 5px;
  height: 1.6em;
}
.logout-wrapper:hover {
  background-color: hsl(0, 100%, 98%);
  border: 1px solid hsl(0, 100%, 98%);
  transition: 0.3s;
}
.box-arrow-right-icon {
  color: hsl(0, 100%, 70%);
  margin-right: 0.6em;
}
