/* THE SIGN UP PAGE*/
.signup-page-wrapper {
  position: relative;
  width: 100%;
  height: auto;
  background-color: hsl(0, 0%, 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
  position: relative;
}
.signup-header-wrapper {
  background-color: var(--steelblue);
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
}
.signup-home-link {
  padding: 8px;
  margin-left: 8%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 65px;
}
.signup-home-link:hover {
  background-color: var(--steelblue-2);
  border: 1px solid var(--steelblue-2);
  border-radius: 5px;
  box-shadow: 1px 1px 4px var(--steelblue-2);
  transition: 0.3s;
}

.square-loader {
  width: 36%;
  margin-top: 20px;
  color: hsl(180, 100%, 30%);
  background-color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 3px;
  box-shadow: 1px 1px 2px 1px hsl(0, 0%, 95%), -1px -1px 2px 1px hsl(0, 0%, 95%);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
  text-align: center;
}
.square-loader h4 {
  margin-left: 3px;
}
.registration-form {
  margin-top: 30px;
  width: 40%;
  padding: 5px;
  color: hsl(240, 100%, 10%);
  background-color: hsl(240, 100%, 100%);
  border: 1px solid hsl(0, 0%, 90%);
  border-radius: 5px;
  box-shadow: 1px 1px 2px 1px hsl(0, 0%, 95%), -1px -1px 2px 1px hsl(0, 0%, 95%);
  margin-bottom: 40px;
}
.registration-form-heading {
  margin-top: 0px;
  height: 90px;
  display: grid;
  grid-template-columns: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: hsl(180, 100%, 40%);
  background-color: var(--steelblue-2);
  border: 1px solid var(--steelblue-2);
  border-radius: 5px;
}
.signup-input-field {
  height: 25px;
  width: 80%;
  margin: 1% 10% 1% 10%;
  padding: 4px;
  color: hsl(240, 100%, 10%);
  background-color: hsl(207, 44%, 95%);
  border: 1px solid hsl(207, 44%, 90%);
  border-radius: 3px;
}
.signup-input-field-wrapper-1,
.signup-input-field-wrapper-2 {
  position: relative;
  width: 83.5%;
  height: 25px;
  margin: 1% 10% 4% 10%;
  display: flex;
  align-items: center;
}
.signup-eye-icon {
  position: absolute;
  right: 2%;
  color: hsl(0, 0%, 0%);
}
.signup-input-field-password {
  width: 100%;
  height: 100%;
  padding: 4px;
  color: hsl(240, 100%, 10%);
  background-color: hsl(207, 44%, 95%);
  border: 1px solid hsl(207, 44%, 90%);
  border-radius: 3px;
}
.signup-input-field:focus,
.signup-input-field-password:focus {
  outline: none;
  border: 1px solid hsl(180, 100%, 30%);
  box-shadow: 0px 0px 3px hsl(180, 100%, 30%);
}
.signup-btn {
  color: hsl(240, 100%, 90%);
  background-color: hsl(180, 100%, 25%);
  border: 1px solid hsl(180, 100%, 25%);
  box-shadow: 1px 1px 2px 1px hsl(180, 100%, 20%);
  border-radius: 3px;
  width: 50%;
  height: 28px;
  margin: 1% 25% 0% 25%;
  padding: 4px;
  outline: none;
}
.signup-btn:hover,
.signup-btn:focus {
  color: white;
  background-color: hsl(180, 100%, 40%);
  border: 1px solid hsl(180, 100%, 40%);
  box-shadow: 1px 1px 8px 1px hsl(180, 100%, 20%);
  transition: 0.35s;
}
.show-when-successfully-registered {
  text-align: center;
  font-weight: bold;
  color: hsl(120, 100%, 25%);
  background-color: hsl(120, 100%, 95%);
  border: 1px solid hsl(120, 100%, 40%);
  border-radius: 5px;
  padding: 10px;
  width: 36%;
  margin: 5% 30% 0% 30%;
}
.signup-catch-error {
  background-color: hsl(0, 100%, 95%);
  border: 1px solid hsl(0, 100%, 80%);
  border-radius: 3px;
  margin-top: 10px;
  text-align: center;
  color: hsl(0, 100%, 70%);
  padding: 0px 5px 0px 10px;
  width: 37%;
}

.email-validity-msg {
  color: hsl(0, 100%, 70%);
  text-align: center;
}
.check-password-match,
.check-password-length {
  color: hsl(0, 100%, 70%);
  text-align: center;
}

/* MEDIA QUERY */
@media screen and (max-width: 540px) {
  .square-loader {
    width: 66%;
  }
  .registration-form {
    width: 70%;
  }
  .show-when-successfully-registered {
    width: 66%;
  }
  .signup-catch-error {
    width: 68%;
  }
  .bar-loader-component-signup {
    width: 80%;
    padding: 20px 0px 20px 60px;
  }
  .signup-input-field {
    height: 20px;
  }
  .signup-btn {
    width: 83%;
    margin: 1% 10% 1% 10%;
    padding: 4px;
  }
}

@media screen and (min-width: 1000px) {
  .square-loader {
    width: 28%;
  }
  .registration-form {
    width: 30%;
  }
  .show-when-successfully-registered {
    width: 28%;
  }
  .signup-catch-error {
    width: 28%;
  }
}
