:root {
  --steelblue: hsl(207, 44%, 33%);
  --steelblue-2: hsl(207, 60%, 20%);
  --backgroundColor-1: hsl(0, 0%, 100%);
}

body {
  font-family: Helvetica, Sans-serif;
  /* font-size: large; */
  color: black;
  margin: 0px 0px 0px 0px;
  scroll-behavior: smooth;
}

.site-link {
  color: hsl(240, 100%, 30%);
  text-decoration: none;
}
.site-link:hover {
  color: hsl(350, 100%, 40%);
  text-decoration: underline;
  transition: 0.3s;
}
