:root {
  --steelblue: hsl(207, 44%, 33%);
  --steelblue-2: hsl(207, 60%, 20%);
  --backgroundColor-1: hsl(207, 60%, 99%);
}

body {
  font-family: Helvetica;
  color: black;
  margin: 0px 0px 0px 0px;
}

/* NAVIGATION-LINKS */
/* Links shared anywhere across the whole app */
.navigation-link {
  text-decoration: none;
  color: hsl(240, 100%, 100%);
}
/* Links in the header on the home page */
.header-link {
  color: hsl(240, 100%, 100%);
}
