:root {
  --steelblue: hsl(207, 44%, 33%);
  --steelblue-2: hsl(207, 60%, 20%);
  --backgroundColor-1: hsl(0, 0%, 100%);
}

body {
  font-family: Helvetica, Sans-serif;
  font-size: large;
  color: black;
  margin: 0px 0px 0px 0px;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

/* NAVIGATION-LINKS */
/* Links shared anywhere across the whole app */
.navigation-link {
  text-decoration: none;
  color: hsl(240, 100%, 100%);
  outline: none;
}
.navigation-link:focus {
  background-color: var(--steelblue-2);
  border: 1px solid var(--steelblue-2);
  border-radius: 5px;
  box-shadow: 1px 1px 4px var(--steelblue-2);
  transition: 0.3s;
  padding: 6px;
}
/* Links in the header on the home page */
.header-link {
  color: hsl(240, 100%, 100%);
  outline: none;
}
.header-link:focus {
  background-color: var(--steelblue-2);
  border: 1px solid var(--steelblue-2);
  border-radius: 5px;
  box-shadow: 1px 1px 4px var(--steelblue-2);
  transition: 0.3s;
}
.header-link-icon {
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: flex-start;
}
