.side-bar-wrapper {
  height: 100%;
  /* display: grid; */
  /* place-items: center; */
  background-color: hsl(0, 0%, 100%);
  position: absolute;
  left: 0px;
  z-index: 8;
}
.side-bar-links-wrapper {
  --side-bar-link-color: hsl(180, 100%, 50%);
  background-color: var(--side-bar-link-color);
  border: 1px solid var(--side-bar-link-color);
  border-radius: 5px;
  margin: 4px;
  margin-top: 12em;
}
