/* THE SeeTodos HERE */
.see-todos-wrapper {
  position: relative;
  width: 100%;
  min-height: 700px;
  height: auto;
  color: hsl(240, 100%, 10%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

.see-todo-catch-error-msg {
  width: 40%;
  background-color: hsl(0, 100%, 96%);
  border: 1px solid hsl(0, 100%, 85%);
  border-radius: 4px;
  padding: 2px 0px 2px 0px;
  text-align: center;
  color: hsl(0, 100%, 25%);
}

.propagate-loader-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px 0px 10px 0px;
  color: hsl(180, 100%, 30%);
  width: 40%;
}
.table-wrapper {
  width: 100%;
  display: grid;
  place-items: center;
  position: relative;
  overflow-x: auto;
}
.Reload-button-near-table {
  margin-bottom: 10px;
  position: absolute;
  top: 5px;
  left: 25%;
}
/* TODOS IN THE TABLE */
.todo-table {
  color: hsl(240, 100%, 10%);
  background-color: hsl(240, 100%, 100%);
  border: 1px solid hsl(240, 100%, 100%);
  border-radius: 5px;
  box-shadow: 1px 1px 3px 1px hsl(0, 0%, 80%), -1px -1px 3px 1px hsl(0, 0%, 80%);
  padding: 5px;
  margin-bottom: 1.5em;
  margin-top: 40px;
}
.todo-table-heading {
  color: hsl(0, 0%, 100%);
  background-color: var(--steelblue-2);
  background-color: var(--steelblue);
  border: 1px solid var(--steelblue-2);
  border: 1px solid var(--steelblue);
  border-radius: 5px;
  text-align: center;
  padding: 5px;
  height: 85px;
  font-weight: 400px;
}

.todo-table-column {
  padding: 5px;
  text-align: center;
  background-color: hsl(240, 100%, 100%);
  border: 1px solid hsl(240, 100%, 98%);
  border-radius: 5px;
  box-shadow: 1px 1px 4px 1px hsl(0, 0%, 70%);
}
.you-have-no-todos {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Reload-button {
  background-color: hsl(70, 100%, 40%);
  border: 2px solid hsl(70, 100%, 30%);
  border-radius: 4px;
  padding: 3px;
  margin-right: 4px;
  outline: none;
}
.Reload-button:hover,
.Reload-button:focus {
  background-color: hsl(70, 100%, 50%);
  transition: 0.35s;
  box-shadow: 1px 1px 0.5px 1px hsl(70, 100%, 30%),
    -1px -1px 0.5px 1px hsl(70, 100%, 30%);
}
/* MEDIA QUERY */
@media screen and (max-width: 400px) {
  .see-todo-catch-error-msg {
    width: 90%;
  }
  .table-wrapper {
    width: 94%;
    margin: 0% 3% 0% 3%;
  }
  .Reload-button-near-table {
    left: 5%;
  }
  table {
    width: 90%;
  }
}

@media screen and (min-width: 401px) and (max-width: 540px) {
  .see-todo-catch-error-msg {
    width: 80%;
  }
  .Reload-button-near-table {
    left: 10%;
  }
  table {
    width: 80%;
  }
}

@media screen and (min-width: 541px) and (max-width: 800px) {
  .see-todo-catch-error-msg {
    width: 60%;
  }
  .Reload-button-near-table {
    left: 20%;
  }
  table {
    width: 60%;
  }
}

@media screen and (min-width: 801px) and (max-width: 1000px) {
  .see-todo-catch-error-msg {
    width: 50%;
  }
  table {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .see-todo-catch-error-msg {
    width: 40%;
  }
  .Reload-button-near-table {
    left: 30%;
  }
  table {
    width: 40%;
  }
}
